{% if config('theme.show_about') %}
<div class="row text-center align-items-center flex-row">
    <div class="col-12 col-lg-auto mt-3 mt-lg-0">
        <ul class="list-inline list-inline-dots mb-0">
            <li class="list-inline-item">
                Copyright &copy; <span class="link-secondary" style="color: #006a00;">SSA</span> &ndash; Sustainable Solutions for Africa
            </li>
        </ul>
    </div>
</div>
{% endif %}
